AppKit==0.2.8
argcomplete==3.5.1
attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
cffi==1.17.1
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==43.0.1
defusedxml==0.7.1
docutils==0.21.2
evdev==1.7.1
eventlet==0.37.0
exceptiongroup==1.2.2
filelock==3.16.1
flatbuffers==24.3.25
gevent==24.10.2
greenlet==3.1.1
h2==4.1.0
HTMLParser==0.0.2
importlib_metadata==8.5.0
ipython==8.28.0
ipywidgets==8.1.5
Jinja2==3.1.4
jnius==1.1.0
js==1.0
keyring==25.4.1
mock==5.1.0
nbconvert==7.16.4
numpy==2.1.2
olefile==0.47
ox_profile==0.2.7
pexpect==4.9.0
protobuf==5.28.2
pudb==2024.1.2
pyodide==0.0.2
pyOpenSSL==24.2.1
PyQt6==6.7.1
PySide6==6.8.0
Quartz==0.0.1.dev0
railroad==0.5.0
redis==5.1.1
simplejson==3.19.3
Sphinx==8.1.3
thread==2.0.5
tornado==6.4.1
Twisted==24.7.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zope==5.11
zstandard==0.23.0
